[flake8]
format = wemake
exclude = .git,__pycache__,polygon.py,tests
max_complexity = 10
max_line_length = 88
max_cognitive_complexity = 10
count = True
show_source = True
statistics = True
ignore = E501, W503, WPS202, WPS204, WPS210, WPS226, WPS348
inline_quotes = double
multiline_quotes = double
docstring_quotes = double
