[flake8]
format = wemake
exclude = .git,__pycache__,polygon.py,tests,generate_test_data.py
max_complexity = 10
max_line_length = 88
max_cognitive_complexity = 10
count = True
show_source = True
statistics = True
ignore = D104, E501, F401, W503, WPS202, WPS204, WPS210, WPS214, WPS217, WPS226, WPS300, WPS348, WPS412, RST210
inline_quotes = double
multiline_quotes = double
docstring_quotes = double
convention=google
