[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinx-material = "*"
ipython = "*"

[packages]
requests = "*"
schedule = "*"
vkbottle = "*"
uvloop = "*"
loguru = "*"
hyperjson = "*"
asyncpg = "*"
tortoise-orm = "*"

[requires]
python_version = "3.8"
