aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
contextvars==2.4
idna==2.10
immutables==0.14
multidict==4.7.6
peewee==3.13.3
pydantic==1.6.1
vbml==0.5.93
vkbottle==2.7.8
watchgod==0.6
yarl==1.5.1
